body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    background-image: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    font-size: 14px;
    font-weight: 900;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
}

h2 {
    color: #107283;
    margin-top: 300px;
    padding: 50px;
    font-size: 70px;
}

.fade-out {
    animation: fadeIn ease-out 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#text {
    width: 70%;
    top: -50px;
    color: #fadf2c;
    margin: auto;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    animation: text 35s infinite linear;
    
}

.perspective {
    
    position: relative;
    display: flex;
    justify-content: center;
    perspective: 250px;
}

@keyframes text {
    0% {
        transform: rotateX(90deg) translateY(550px);
    }
    100% {
        transform: rotateX(90deg) translateY(-344px);
    }
}